<!DOCTYPE html>
<html lang="de-CH">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta charset="utf-8"/>
    <title>HI PDF Plugin Testing</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"/>

</head>
<body>

<h1>HI PDF PLUGIN TEST PAGE</h1>

{{ craft.hiPdf.generatePdf({
    template: 'pdf',
    filename: 'Projektauswahl' ~ ' - ' ~ siteName,
    title: 'Projektauswahl',
    destination: 'inline',
    variables: {
    }
})|raw }}

</body>
</html>
